body {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

button {
    width: 300px;
    font-size: 18px;
    border-radius: 50%;
    margin-top: 7.5em;
    margin-right: 5em;
    padding: 10px;
    border: none;
    background: fuchsia;
    color: #fff;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    size: cover;
    object-fit: fill;

}



button:hover {
    background: #ddd;
    color: black;
}

.square {
    border: none;
}

.red {
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}

.blue {
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}

.start {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: skyblue 2px solid;
    text-align: center;
    display: flex;
    align-content: center;

}

/* ------------MEDIA--QUERIES-------- */

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}